*.o
*.a
*.bundle
*.gem
*.tmproj
.DS_Store
ext/swisseph/swisseph.bundle.dSYM
.aider*

# CMake build artifacts
ext/swisseph/cmake_build/
ext/swisseph/CMakeFiles/
ext/swisseph/CMakeCache.txt
ext/swisseph/cmake_install.cmake
ext/swisseph/Makefile
ext/swisseph/.swisseph_fetched

# Fetched Swiss Ephemeris sources (now downloaded at build time)
ext/swisseph/swisseph_src/
ext/swisseph/_deps/

# Swiss Ephemeris C sources (fetched by CMake)
ext/swisseph/swecl.c
ext/swisseph/swedate.c
ext/swisseph/sweephe4.c
ext/swisseph/swehel.c
ext/swisseph/swehouse.c
ext/swisseph/swejpl.c
ext/swisseph/swemmoon.c
ext/swisseph/swemplan.c
ext/swisseph/sweph.c
ext/swisseph/swephlib.c
ext/swisseph/swephgen4.c
ext/swisseph/swemini.c

# Swiss Ephemeris headers (fetched by CMake)
ext/swisseph/swedate.h
ext/swisseph/swedll.h
ext/swisseph/sweephe4.h
ext/swisseph/swehouse.h
ext/swisseph/swejpl.h
ext/swisseph/swemptab.h
ext/swisseph/swenut2000a.h
ext/swisseph/sweodef.h
ext/swisseph/sweph.h
ext/swisseph/swephexp.h
ext/swisseph/swephlib.h
ext/swisseph/swevents.h

# Swiss Ephemeris data files (fetched by CMake)
ext/swisseph/seas_18.se1
ext/swisseph/seasm18.se1
ext/swisseph/semo_18.se1
ext/swisseph/semom18.se1
ext/swisseph/sepl_18.se1
ext/swisseph/seplm18.se1
ext/swisseph/sefstars.txt
ext/swisseph/seleapsec.txt
ext/swisseph/agpl-3.0.txt
